<main class="homepage">
	
	
	
	<h2>Recap of what I did for Assignment 1</h2>
		
	<ol>
		<li>Your name and what you prefer to be called (if it's different).
			<ul>Ibrahim Mahmoud</ul>
		</li>
		<li>Your OSU email address.
			<ul>
				<a href="mailto:mahmoudio@oregonstate.edu" target="_blank">mahmoudio@oregonstate.edu</a>
			</ul>
		</li>
		<li>Your major and year of study
			<ul>
				<li>Computer Science</li>
				<li>Second Year</li>
			</ul>
		</li>
		<li>The answer to this question: on a scale from 0 (I've never even seen HTML code) to 10 (You know Facebook? I wrote that.), how confident are you in your web development skills
			<ul>3</ul>
		</li>
		<li>The answer to this question: what do you hope to learn from this class?
			<ul>How to make a simple website without taking too much time</ul>
		</li>
		<li>The answer to this question: have you signed up for Piazza?
			<ul>Yes.</ul>
		</li>
		<li>A description of the most interesting fact about you or the most unique experience you've had. Include only what you can think of and write down in two minutes, maximum
			<ul>I wasn't planning on going to the senior Prom dance, as I never go to dances. I can't dance to save my life, and I feel like I could generally have a better time doing other things. Unfortunately, this idea of mine would not last as I was later chosen to be on Prom court, which meant I had to go regardless of what I thought. I didn't have a tuxedo, a suit, or even a date, and so I went with a lady friend of mine instead. I ended up bobbing my head and tapping my foot for the entire time, but I did enjoy the time with my friends. I ended up being chosen as Prom King, which was interesting given that I never went to any sports games or any dances (this was the first) or dated in school or anything most "popular" people do, and the big kicker was that I wasn't planning on going to Prom anyways. Life can throw you gems like that sometimes.</ul>
		</li>
		<li>A photo with a clear picture of your face (using an "img" tag)
			<ul></ul>
			<img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-1/p160x160/17992125_1862441790664591_6951508704308911683_n.jpg?_nc_cat=111&oh=5214048d540e715a9dce699c3d3c1039&oe=5C24B4E0" alt="This was one of my senior pictures." title="Senior Picture" />
		</li>
	</ol>

</main>